<mat-list id="primary-nav">
  <mat-list-item>OLPlatform (Logo)</mat-list-item>
  <!-- Opens the Programs List widget -->
  <mat-list-item>Programs (Widget)</mat-list-item>
  <!-- A vertical 3-dot divider -->
  <mat-list-item>Emails</mat-list-item>
  <mat-list-item>Messages</mat-list-item>
  <mat-list-item>Notifications</mat-list-item>
  <!-- A vertical 3-dot divider -->
  <mat-list-item>Profile (Picture)</mat-list-item>
  <mat-list-item>Log In</mat-list-item>
</mat-list>
<router-outlet></router-outlet>

<!--
  program-landing-page is the https://www.fanshaweonline.ca/d2l/home
  program-list-widget is basically the same as that for courses
-->
